body {
    background: url(../../assets/images/stripes5.jpg) no-repeat center fixed;
    background-size: cover;
}

.navbar {
    margin-top: 4%;
    font-family: 'Nanum Gothic', sans-serif;
    background-color:rgba(0, 0, 0, 0);
}

.container {
    background-color:rgba(0, 0, 0, 0);
}

.card {
    background-color:rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    width: 200px;
    height: 170px;
    float: right;
    padding: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#b9b9b9;
    text-align: center;
    border-top: black solid 3px;
}

p {
    color: #777777;
}