body {
    background: url(../../assets/images/stripes5.jpg) no-repeat center fixed;
    background-size: cover;
}

.navbar {
    margin-top: 4%;
    font-family: 'Nanum Gothic', sans-serif;
    background-color:rgba(0, 0, 0, 0);
}

.navbar-brand {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    background-color:rgba(0, 0, 0, 0);
}

.card {
    background-color:rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}

.deck {
    background-color: rgba(100, 98, 98, 0.5);
    color: white;
}

.card-img-top {
    width: 120px;
    height: 100px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(100, 98, 98, 0.5);
    text-align: center;
}

.btn {
    align-self: center;
}

.fa {
    padding: 10px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 8px;
    float: right;
}
  
.fa:hover {
      opacity: 0.8;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #007bb5;
    color: white;
}

#invisibleCard {
    background-color:rgba(0, 0, 0, 0);
}

#mattfamily {
    width: 391px;
    height: 260px;
    float: right;
    padding: 5px;
}

#github {
    width: 25px;
    height: 25px;
    float: right;
}
